@model MVC_Teacher.Models.UploadHocLieuDto

@if (ViewBag.SessionKeys != null)
{
    <div class="alert alert-warning">
        <b>Session keys:</b> @ViewBag.SessionKeys <br />
        <b>MaNguoiDung:</b> @ViewBag.MaNguoiDung <br />
        <b>UserId:</b> @ViewBag.UserId <br />
        <b>TeacherId:</b> @ViewBag.TeacherId <br />
        <b>MaGiaoVien:</b> @ViewBag.MaGiaoVien
    </div>
}


@using (Html.BeginForm("Upload", "UploadFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.MaKhoaHoc)

    <div>
        <label>Tiêu đề</label>
        @Html.TextBoxFor(m => m.TieuDe)
    </div>

    <div>
        <label>Mô tả</label>
        @Html.TextAreaFor(m => m.MoTa)
    </div>

    <div>
        <label>File</label>
        <input type="file" name="FileHocLieu" />
    </div>

    <button type="submit">Upload</button>
}

@if (TempData["msg"] != null)
{<div style="color:green">@TempData["msg"]</div>}
@if (TempData["error"] != null)
{<div style="color:red">@TempData["error"]</div>}
@if (TempData["debug_response"] != null)
{<pre>@TempData["debug_response"]</pre>}
